@model DataAccessLayer.ViewModels.MenuViewModel

<div class="row">
    <div class="col">
        <span class="h4 fw-bold " style="color: #0066A7;" data-bs-toggle="offcanvas" href="#offcanvasExample1"
            role="button1" aria-controls="offcanvasExample1">Items</span>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <form class="d-flex " role="search">
            <div class="d-flex  me-2 p-1 position-relative">
                <input class="search_input form-control me-2 border-0" type="text" placeholder="Search"
                    aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                    class="bi bi-search position-absolute search-icon-main" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>
            <button class="btn border " type="submit"><i class="bi bi-trash h4 text-muted"></i></button>
            <button class="btn text-white d-none d-md-block ms-2" style=" background-color: #0066A7;" type="button"
                data-bs-toggle="modal" data-bs-target="#additemModal">
                +New Item</button>
            <button class="btn text-white d-md-none ms-2" style=" background-color: #0066A7;">+</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input class="form-check-input main-check" type="checkbox" value=""
                                id="flexCheckDefault"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Rate </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Available</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="itemsTableBody">
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                <input class="form-check-input inner-check" type="checkbox" value="" id="flexCheckDefault">
                            </td>
                            <td>
                            @if (item.Itemimage != null)
                            {
                                <img src="@Url.Content(item.Itemimage)" alt=""  width="30px">

                            }
                             else
                            {
                                <img src="~/images/dining-menu.png" alt="" width="30px">

                            }
                                @* src="@item.Itemimage" *@
                                @item.Itemname
                            </td>
                            <td>
                                <img src="~/images/icons/@(item.Itemtype == "veg" ? "veg-icon.svg" : "non-veg-icon.svg")"
                                    width="20px" alt="">
                            </td>
                            <td>@item.Rate</td>
                            <td>@item.Quantity</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" style="width: 2.5rem; height: 25px;" type="checkbox"
                                        role="switch" @(item.Isavailable ?? false ? "checked" : "")>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" style="text-decoration: none; color: grey;"><i class="bi bi-pen"></i></a>
                                    <a href="#" class="ms-4" style="text-decoration: none; color: grey;"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                                            class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="main-pagination  ">
            <div class="item-show ">
                <nav aria-label="Page navigation example">
                    <div class="pagination ">
                        <span class="align-self-center">Items Per Page
                            :</span>
                        <select class="form-select form-select-sm ms-2 align-self-center"
                            aria-label="Small select example" style=" width: unset; ">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </nav>
            </div>
            <div class="showing-page">
                <nav aria-label="Page navigation example">
                    <div class="pagination ">
                        <span class=" ms-2  align-self-center">Showing 1-5
                            of 13</span>
                        <button class="btn border ms-2  align-self-center" type="submit"><i
                                class="bi bi-chevron-left "></i>
                        </button>
                        <button class="btn border ms-2  align-self-center" type="submit"><i
                                class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="additemModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="staticBackdropLabel aria-hidden=" true">
    <div class="modal-dialog modal-dialog-centered w-75" style="max-width: 100% !important">
        <div class="modal-content">
            <form class="modal-body additemform" id="additemform" enctype="multipart/form-data">
                <div class="d-flex justify-content-between">
                    <div class="special-color fw-bold fs-4">Add Item</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="row pe-2 mt-2">
                    <div class="col-md-8 col-12">
                        <div class="row">
                            <div class="col-md-6 col-12 form-floating mt-3">
                                <select class="form-select" id="categoryDropdown" name="CategoryId" required >
                                    @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.Categoryid">@category.Categoryname</option>
                                        }
                                </select>
                                <label for="categoryDropdown">Food Category</label>
                            </div>

                            <div class="col-md-6 col-12 form-floating mt-3">
                                <input type="text" class="form-control" id="name" placeholder="Name" name="Itemname"
                                    required>
                                <label for="name">Name*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <select class="form-select" id="itemTypeDropdown" name="Itemtype" required>
                                            <option value="veg" selected >Veg</option>
                                            <option value="non-veg"  >Non-veg</option>

                                        </select>
                                        <label for="itemTypeDropdown">Item Type</label>
                                    </div>
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <input type="number" class="form-control" id="name" placeholder="Name" min="0"
                                            step="1" name="Rate" required>
                                        <label for="name">Rate*</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <input type="number" class="form-control" id="quantity" placeholder="Name"
                                            min="0" step="1" name="Quantity" required>
                                        <label for="quantity">Quantity*</label>
                                    </div>
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <select class="form-select" id="unitDropdown" name="UnitId" required>
                                             @foreach (var itemsUnit in Model.ItemsUnit)
                                        {
                                            <option value="@itemsUnit.Unitid">@itemsUnit.Unitname</option>
                                        }
                                        </select>
                                        <label for="unitDropdown">Unit</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-12 mt-3">
                                <div class="row">
                                    <div
                                        class="col-6 form-check form-switch d-flex justify-content-center align-items-center">
                                        <input class="form-check-input" type="checkbox" id="availableToggle"
                                            style="height: 30px; width: 3.5rem;" name="ItemAvailable">
                                        <label class="form-check-label ms-2" for="availableToggle">Available</label>
                                        <input type="hidden" name="Isavailable" value="false">
                                    </div>
                                    <div
                                        class="col-6 form-check form-switch d-flex justify-content-center align-items-center">
                                        <input class="form-check-input" type="checkbox" id="defaultTaxToggle"
                                            style="height: 30px; width: 3.5rem;" name="Defaulttax">
                                        <label class="form-check-label ms-2" for="defaultTaxToggle">Default Tax</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <input type="number" class="form-control" id="taxpercentage" placeholder="Name"
                                            min="0" step="0.01" name="Taxpercentage">
                                        <label for="taxpercentage">Tax Percentage</label>
                                    </div>
                                    <div class="col-md-6 col-12 form-floating mt-3">
                                        <input type="text" class="form-control" id="shortcode" placeholder="Name"
                                            name="Shortcode">
                                        <label for="shortcode">Short Code</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-floating">
                                <textarea class="form-control" id="description" placeholder="Enter description" rows="5"
                                    style="height: 100px;" name="Itemdescription" required></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>


                        <div class="mt-3 fs-6" style="opacity: 0.75;">Upload Image</div>
                        <div class="row mt-0">
                            <div style="position: relative;" id="fileLabel" >
                                <input type="file" class="form-control" id="itemImage" placeholder=""
                                    style="height: 90px; position: absolute; opacity: 0;" name="Itemimage">
                                <div id="file-box"
                                    style="height: 90px; border: 1px dashed rgb(173, 170, 170); border-radius: 5px;"
                                    class="d-flex justify-content-center align-items-center">
                                    <i class="bi bi-cloud-arrow-up h4 mt-3 me-2"></i>Drag and Drop or Browse files
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-3 col-12 px-2 " style="background-color: #fff5d7; border-radius: 5px;">
                        <div class="mod-group-select mt-2">
                            <select class="form-select" id="ModifierGroupDropdown" aria-label="Select Food Category">
                                <option value="" selected disabled>Select Modifier Group</option>
                                <option value="mod1">Modifier 1</option>
                                <option value="mod2">Modifier 2</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" id="savebtn" class="btn text-white" style="background-color: #0066A7;"
                        type="submit">Save</button>
                    <button type="button" class="btn ms-2"
                        style="border-color: #0066A7; color: #0066A7; text-decoration: none;"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on('click', '#savebtn', function (e) {
            e.preventDefault();

            var formElement = document.querySelector(".additemform"); // Correct the form selector
            var formData = new FormData(formElement);

            $.ajax({
                url: '@Url.Action("AddItemsPost", "Menu")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        console.log('Item added successfully:', data);
                        window.location.href = data.redirectUrl;
                    } else {
                        alert("Failed to add item. Please check the inputs.");
                    }
                },
                error: function (error) {
                    console.error('Error adding item:', error);
                    alert("An error occurred while adding the item.");
                }
            });
        });
    });
</script>
<script>
    document.getElementById("itemImage").addEventListener("change", function () {
        let fileLabel = document.getElementById("fileLabel");
        if (this.files.length > 0) {
            fileLabel.style.border = "2px solid green"; // Change border color when a file is selected
        } else {
            fileLabel.style.border = "2px solid rgba(112, 128, 144, 0.123)"; // Reset border color
        }
    });
</script>
