@model DataAccessLayer.ViewModels.MenuViewModel
<div class="container-fluid p-3 " style="height: 700px;">
    <div class="row">
        <div class="col-2 ">
            <div class="row d-none d-xl-flex flex-column">
                <div class="">
                    <span class="h4 fw-bold " style="color: #0066A7;">Category
                        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
                            style="text-decoration: none; border: none; background-color: white; position: absolute;"><i
                                class="bi bi-plus-square ms-2 h5"></i>
                        </button>

                    </span>
                </div>
                <div class="category overflow-auto mt-3">
                    @foreach (var category in Model.Categories)
                    {
                        <a class="justify-content-start align-items-center category-inner-box mt-2 text-reset"
                            style="text-decoration: none;" href="javascript:void(0);"
                            onclick="LoadPartialView(@category.CategoryId)">

                            <div class="mb-3 name-sidebar ms-1 active-name" id="category-container">
                                <img src="~/images/logos/sixdot.png" alt="" style="width:20px; height: 15px;"
                                    class="active-icon">
                                @category.Categoryname

                                
                                    <a class="editButtom" href="javascript:void(0);" style="text-decoration: none; color: grey;"
                                        id="editCategory" onclick="openEditModal(@category.CategoryId)"
                                        data-bs-target="#staticBackdrop2" data-bs-toggle="modal">
                                        <i class="bi bi-pen float-end"></i>
                                    </a>
                                    <a class="deleteButton" href="javascript:void(0);" style="text-decoration: none; color: grey;"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        onclick="openDeleteModal(@category.CategoryId)">
                                        <i class="bi bi-trash float-end"></i>
                                    </a>
                                

                            </div>
                        </a>
                    }

                </div>

            </div>
            <!-- Model Add Category -->

            <form method="post" asp-action="AddCategory" asp-controller="Menu">
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add
                                    Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="Categoryid" name="Categoryid"> <!-- Hidden ID Field -->

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="Categoryname" name="Categoryname"
                                        placeholder="Category Name" required>
                                    <label for="Categoryname">Name</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="Categorydescription" id="Categorydescription"
                                        placeholder="Enter Description"></textarea>
                                    <label for="Categorydescription">Description</label>
                                </div>
                                <div class="col mt-3 mb-3 d-flex justify-content-end">
                                    <button class="btn text-white me-2" style="background-color: #0066A7;"
                                        type="submit">Save</button>
                                    <button class="btn" style="border-color: #0066A7; color: #0066A7;" type="button"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Model Edit Category -->
            <form method="post" asp-action="UpdateCategory" asp-controller="Menu">

                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Edit Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="editCategoryId" name="Categoryid">

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="editCategoryName" name="Categoryname"
                                        placeholder="Category Name" required>
                                    <label for="Categoryname">Name</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="Categorydescription"
                                        id="editCategoryDescription" placeholder="Enter Description"></textarea>
                                    <label for="Categorydescription">Description</label>
                                </div>
                                <div class="col mt-3 mb-3 d-flex justify-content-end">
                                    <button class="btn text-white me-2" style="background-color: #0066A7;"
                                        type="submit">Save</button>
                                    <button class="btn" style="border-color: #0066A7; color: #0066A7;" type="button"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Model Delete -->
            <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt=""
                                    style="width: 10%; height: 10%;">
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <span class="text-muted">Are you sure you want to delete this Category?</span>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn text-white" style="background-color: #0066A7;" type="button"
                                    id="confirmDeleteBtn">Yes</button>
                                <button class="btn ms-2" style="border-color: #0066A7; color: #0066A7;" type="button"
                                    data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-10" id="itemsContainer">
            <partial name="_PartialItems.cshtml" , model="Model"></partial>
        </div>
    </div>
</div>
<script>
    function LoadPartialView(categoryId) {
        console.log("Category ID:", categoryId);

        // Show loading animation
        $("#itemsContainer").html("<p>Loading...</p>");

        $.ajax({
            url: '@Url.Action("GetItemsByCategory", "Menu")',
            type: 'GET',
            data: { categoryId: categoryId },
            success: function (data) {
                console.log('Partial view loaded successfully:', data);
                $("#itemsContainer").html(data);
            },
            error: function (error) {
                console.error('Error loading partial view:', error);
                $("#itemsContainer").html("<p>Error loading items.</p>");
            }
        });
    }


</script>